<div class="container">
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="modelChanged($event)">
        <label class="form-check-label" for="exampleCheck1">Texto X</label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">Rango</label>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck3">
        <label class="form-check-label" for="exampleCheck3">Fecha</label>
    </div>
</div>